#gridInfos {
    margin-top:  0.4%;
    max-height: 500px;
    overflow-y: auto;
    text-align: center;
    width: 100%;
}

#tableInfos {
    width: 95%;
    border-collapse: collapse;
    margin: 0.4% auto;
    /* Centraliza a tabela na div */
}

th, td {
    border: 1px solid #ddd;
    font-weight: bold;
    width: auto;
}



#tableHead {
    background-color: black;
    color: white;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 1;
}

#tdInfos {
    color: black;
    text-align: left;   
}

#tableInfos_filter {
    text-align: end;
    margin-right: 5%;
    margin-top: 0.2%;
}



div.dataTables_wrapper div.dataTables_filter label {
    color: white;
    font-weight: bold;
}

#conteudo{
    text-align: left;  
    background-color: white;
}
#row{
    color: black;
}