body {
    background-color: #212F3C;
    height: 90vh;
    margin: 0;
}

#container {
    height: auto;
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 2%;
}

#content {
    background-color: #212529;
    border-radius: 3%;  
    padding: 10px; 
    width: 400px;
    max-height: auto;
}

@media (max-height: 725px){ 
    #content{
        overflow-y: auto;
    }
}

.select2-container--default .select2-selection--single .select2-selection__rendered .select2-enderecoSelect-container {
    line-height: 2.3;
}

.select2-container .select2-selection--multiple .select2-selection__rendered {
    display: flex;
    flex-wrap: wrap;
}

.select2-container .select2-selection--multiple .select2-selection__choice {
    margin-right: 5px;
    margin-bottom: 5px;
}

#gridInfos {
    margin-top:  0.4%;
    max-height: 500px;
    overflow-y: auto;
    text-align: center;
    width: 100%;
}

#tableInfos {
    width: 95%;
    border-collapse: collapse;
    margin: 0.4% auto;
    /* Centraliza a tabela na div */
}

th, td {
    border: 1px solid #ddd;
    font-weight: bold;
    width: auto;
}



#tableHead {
    background-color: black;
    color: white;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 1;
}

#tdInfos {
    color: black;
    text-align: left;   
}

#tableInfos_filter {
    text-align: end;
    margin-right: 5%;
    margin-top: 0.2%;
}



div.dataTables_wrapper div.dataTables_filter label {
    color: white;
    font-weight: bold;
}

#conteudo{
    text-align: left;  
    background-color: white;
}
#row{
    color: black;
}